# Logs
**/log
**/*.log
**/npm-debug.log*

# Runtime data
**/pids
**/*.pid
**/*.seed

# Coverage directory used by tools like istanbul
**/coverage

# build directories
**/.next
**/dist
**/build
**/lib

# optional npm cache directory
**/.npm

# OS-specific temporary files
**/Thumbs.db
**/.DS_Store

# dependency directory
**/node_modules

# VS Code project-specific settings
.vscode

# credentials
*credentials.json
**/certs